#title {
	-fx-font-family: "SansSerif";
	-fx-font-size: 34px;
	-fx-font-weight: bold;
	-fx-text-fill: #6b757d;
}

#emailLabel {
	-fx-font-family: "SansSerif";
	-fx-font-size: 13px;
	-fx-text-fill: #6b757d;
}

#emailTextfield {
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
}

#passwordLabel {
	-fx-font-family: "SansSerif";
	-fx-font-size: 13px;
	-fx-text-fill: #6b757d;
}

#passwordTextfield {
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
}

.text-field {
	-fx-max-width: 150;
}

.button {
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
	-fx-text-fill: #6b757d;
	-fx-min-height: 36;
	-fx-max-width: 150;
}

.button:hover {
	-fx-transition: 1s;
	-fx-background-color: #f9f9f7;
	-fx-border-color: #60c8db;
	-fx-text-fill: #60c8db;
	-fx-font-familiy: "SansSerif";
}