#pane {
	-fx-background-color: #f9f9f9;
}

#title {
	-fx-font-family: "SansSerif";
	-fx-font-size: 34px;
	-fx-font-weight: bold;
	-fx-text-fill: #6b757d;
}

.label {
	-fx-font-family: "SansSerif";
	-fx-font-size: 13px;
	-fx-text-fill: #6b757d;
}

#home {
	-fx-font-family: "SansSerif";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #6b757d;
}

.text-field {
	-fx-font-family: "SansSerif";
	-fx-font-size: 12px;
	-fx-text-fill: #6b757d;
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
	-fx-max-width: 150;
	-fx-min-height: 30;
}

#email_text-field {
	-fx-font-family: "SansSerif";
	-fx-font-size: 12px;
	-fx-text-fill: #6b757d;
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
	-fx-min-width: 180;
	-fx-min-height: 30;
}

.combo-box {
	-fx-font-family: "SansSerif";
	-fx-font-size: 12px;
	-fx-text-fill: #6b757d;
	-fx-background-color: #fcfcfc;
	-fx-border-color: #c7c7c5;
	-fx-min-width: 180;
	-fx-min-height: 30;
}

.button {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #c7c7c5;
	-fx-text-fill: #6b757d;
	-fx-min-height: 40;
	-fx-min-width: 241;
}

.button:hover {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #60c8db;
	-fx-text-fill: #60c8db;
}

#toevoegen {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #c7c7c5;
	-fx-text-fill: #6b757d;
	-fx-min-height: 40;
	-fx-min-width: 259;
}

#toevoegen:hover {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #60c8db;
	-fx-text-fill: #60c8db;
}

#knoppen {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #c7c7c5;
	-fx-text-fill: #6b757d;
	-fx-min-height: 82;
	-fx-min-width: 302;
}

#knoppen:hover {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #60c8db;
	-fx-text-fill: #60c8db;
}

#knoppen2 {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #c7c7c5;
	-fx-text-fill: #6b757d;
	-fx-min-height: 82;
	-fx-min-width: 242;
}

#knoppen2:hover {
	-fx-background-color: #f9f9f7;
	-fx-border-color: #60c8db;
	-fx-text-fill: #60c8db;
}